body{
    margin-top: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin:20px;
   /* background-color: rgb(78, 91, 86); */
   text-align: center;
}
button{
    width: 60px;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    border: none;
}
input{
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.Calculator{
    text-align: center;
    background-color:black;
    padding: 10px;
    height: 450px;
    color: white;
}

.red{
    background-color: red;
    color: white;
}
.primary{
    background-color: #4092ad;
    color: white;
}

.equal{
    background-color: #0303ff;
    color: white;
}

.del{
    background-color: crimson;
    color: white;
}

.light{
    background-color: antiquewhite;
}
